<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".\.nuget\packages" />
    <add key="ignoreFailedSources" value="true" />
  </config>
  <fallbackPackageFolders>
    <add key="userprofile-cache" value="%USERPROFILE%\.nuget\packages" />
  </fallbackPackageFolders>
  <packageSources>
    <add key="local-nupkgs" value=".\nupkgs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
