<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Database" />
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target name="database"
            xsi:type="Database"
            connectionString="${configsetting:item=ConnectionStrings.AppLog}"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <commandText>
        INSERT INTO [dbo].[NLog] (
          [ApplicationName],
          [AppUserIdentity],
          [ClientIP],
          [LogDate],
          [LogLevel],
          [LogAssembly],
          [LogSource],
          [LogMessage],
          [MachineName],
          [DomainUser],
          [CallSite],
          [LogThread],
          [LogException],
          [StackTrace],
          [MetaDataKey],
          [MetaDataValue],
          [UnixDateTime],
          [CorrelationId],
          [UserAgent]
        )
        VALUES (
          @ApplicationName,
          @AppUserIdentity,
          @ClientIP,
          @LogDate,
          @LogLevel,
          @LogAssembly,
          @LogSource,
          @LogMessage,
          @MachineName,
          @DomainUser,
          @CallSite,
          @LogThread,
          @LogException,
          @StackTrace,
          @MetaDataKey,
          @MetaDataValue,
          @UnixDateTime,
          @CorrelationId,
          @UserAgent
        );
      </commandText>

      <parameter name="@ApplicationName" layout="${scope-property:ApplicationName:whenEmpty=TalageIntegration.API}" />
      <parameter name="@AppUserIdentity" layout="${aspnet-user-identity}" />
      <parameter name="@ClientIP" layout="${aspnet-request-ip}" />
      <parameter name="@LogDate" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@LogSource" layout="${logger}" />
      <parameter name="@LogAssembly" layout="${assembly-version}" />
      <parameter name="@LogMessage" layout="${message}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@DomainUser" layout="${environment:variable=USERDOMAIN}\\${environment:variable=USERNAME}" />
      <parameter name="@CallSite" layout="${callsite}" />
      <parameter name="@LogThread" layout="${threadid}" />
      <parameter name="@LogException" layout="${exception:format=ToString}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@MetaDataKey" layout="${event-properties:item=MetaDataKey}" />
      <parameter name="@MetaDataValue" layout="${event-properties:item=MetaDataValue}" />
      <parameter name="@UnixDateTime" layout="${event-properties:item=UnixDateTime}" />
      <parameter name="@CorrelationId" layout="${scopeproperty:item=CorrelationId:whenEmpty=${aspnet-traceidentifier}}" />
      <parameter name="@UserAgent" layout="${scopeproperty:item=UserAgent}" />
    </target>
  </targets>

  <rules>
    <!-- Reduce noisy framework logs -->
    <logger name="Microsoft.*" minlevel="Info" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="System.*" minlevel="Trace" final="true" />

    <!-- Capture everything into SQL (Info/Warn/Error/Debug/Trace) -->
    <logger name="*" minlevel="Trace" writeTo="database" />
  </rules>
</nlog>
